/* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global styles */
body {
	background-color: #1c1c1c;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #999;
}

/* Columns */
.col {
	display: flex;
	flex-direction: column;
	background-color: #000;
	color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 1.5em;
	margin: 0 0.5em;
	flex-basis: calc(50% - 1em);
	border-radius: 0.5em;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #33ff00;
	text-decoration: underline;
}

header {
	background-color: #333333;
	color: #f2f2f2;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

header h1 {
	margin: 0;
	font-size: 36px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 2px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #f2f2f2;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 10px;
	transition: color 0.3s ease;
}

nav a:hover {
	color: #ffd700;
}

main {
	padding-top: 120px;
}

.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0;
}

.feature-box {
	flex-basis: calc(33.33% - 20px);
	background-color: #002003;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.feature-box h3 {
	font-size: 24px;
	margin-bottom: 10px;
	color: #fff;
}

.feature-box ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.feature-box li {
	font-size: 18px;
	margin-bottom: 5px;
	color: #fff;
}

.feature-box p {
	font-size: 18px;
	margin-bottom: 10px;
	color: #fff;
}

.faq {
	margin-top: 40px;
}

summary {
	font-weight: bold;
	cursor: pointer;
}

details[open] summary {
	color: #fff;
}

details summary::-webkit-details-marker {
	display: none;
}

details {
	background-color: #002003;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

details p {
	margin: 0;
}

.btn
{
  display: inline-block;
  background-color: #ffd700;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  }
  
  .btn:hover {
  background-color: #000;
  color: #ffd700;
  cursor: pointer;
  }
  
  @media (max-width: 767px) {
  .col {
  flex-basis: 100%;
  margin: 0;
  }
  
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  header h1 {
    margin-bottom: 20px;
    font-size: 28px;
  }
  
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  nav li {
    margin: 10px;
  }
  
  main {
    padding-top: 80px;
  }
  
  .feature-box {
    flex-basis: calc(50% - 10px);
    margin-bottom: 10px;
  }
}  